{% extends "base.html" %}
{% block title %}
  О нас
{% endblock %}
{% block content %}
    <div class="card" style="width: auto;">
      <div class="card-header">
        О компании
      </div>
      <div class="card-body">
        <img src="/static/img/logo_right-srt.png" style="float: left;">
        <p>
          В 2024 году компания PEGAS Touristik отметит тридцатилетие своей деятельности на российском рынке. 
          Девиз: «Гость - прежде всего» - остается неизменным со дня открытия компании.
          Своими успехами и достижениями мы обязаны, прежде всего, нашим партнерам, коллегам, туристам и просто друзьям.
        </p>
        <p>
          PEGAS Touristik, являясь одним из признанных лидеров российского рынка путешествий и туризма, 
          предлагает отдых в самых красивых местах Турции, России, Египта, Туниса, Греции, 
          Индии, Таиланда, Индонезии, Кипра, Кубы, ОАЭ, Вьетнама, Мальдив, Азербайджана, Армении, Узбекистана, Казахстана, Венесуэлы.
        </p>
        <br>
        <p>
          <img src="/static/img/about-company.jpg" style="float:right">
          Количество туристов, выбирающих отдых с PEGAS Touristik, постоянно растет, 
          а это лучшее подтверждение высококачественного обслуживания и профессионализма наших сотрудников.
          Мы подобрали самые популярные среди российских туристов отели всех ценовых категорий, 
          обеспечили надежные и качественные авиаперевозки известными российскими авиакомпаниями, конкурентоспособные цены.
        </p>
        <p>
          С каждым годом все больше россиян чаще и чаще отправляются на отдых в дальние страны,
          что становится более похожим на стиль жизни, нежели на роскошь.
          Высокий уровень обслуживания и гарантированно высокий сервис дают возможность без забот 
          отдохнуть под ласковыми лучами солнца, еще недавно казавшихся далекими континентов.
        </p>
        <p>
          Надеемся, что все большее количество туристов доверит нам организацию своего отдыха, 
          а мы в свою очередь приложим все усилия для того, чтобы оправдать все ожидания.
        </p>
      </div>
    </div>
{% endblock %}