{% extends "base.html" %}
{% block title %}
  Вакансии
{% endblock %}
{% block content %}
  <h2 style="text-align: center;">Вакансии</h2>
  <div class="col d-flex" style="justify-content: space-evenly; padding-top:12px; padding-bottom:12px;">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Менеджер по туризму
      </div>
      <div class="card-body">
        <p>
          <b>Обязанности:</b>
          <ul>
            <li>Работа с рейсами (заведение в систему и корректировка)</li>
            <li>Мониторинг цен конкурентов, анализ динамики продаж</li>
            <li>Ценообразование продукта (РФ, СНГ)</li>
            <li>Работа с агентствами (помощь в работе с сайтом, решение возникающих вопросов по заявкам)</li>
            <li>Работа по корректировке забронированных заявок</li>
            <li>Исходящие информативные звонки (предоставление заказчику информации об изменениях в программе тура)</li>
            <li>Обработка входящей корреспонденции, поступающей на электронный адрес</li>
          </ul>
        </p>
        <p>
          <b>Требования:</b>
          <ul>
            <li>Опыт работы в туристической отрасли от 2-ух лет</li>
            <li>Умение работать с цифрами</li>
            <li>Приветствуется знание «Леонардо»</li>
          </ul>
        </p>
        <p>
          <b>Условия:</b>
          <ul>
            <li>Работа в крупной, брендовой компании</li>
            <li>Отличные перспективы профессионального развития</li>
            <li>100% "белая" заработная плата от 87 500 до 109 000 ₽ до вычета налогов</li>
            <li>Работа м. Аэропорт</li>
            <li>График работы: 5/2 с 10:00 до 19:00</li>
            <li>Оформление в соответствии с ТК РФ, соцпакет</li>
            <li>Специальные скидки на туры для сотрудников и членов их семей</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Менеджер по туризму в туроператорскую компанию
      </div>
      <div class="card-body">
        <p>
          <b>Обязанности:</b>
          <ul>
            <li>Продажа туров компании</li>
            <li>Приём входящих звонков (предоставление потребителям и потенциальным потребителям всей нужной информации по турам, тарифам, услугам и акциям компании)</li>
            <li>Исходящие информативные звонки</li>
            <li>Обработка письменных запросов, расчетов, заявок на бронирование</li>
            <li>Бронирование тура в системе, на сайте</li>
            <li>Расчет нестандартных туров</li>
            <li>Ведение туристов до момента вылета</li>
          </ul>
        </p>
        <p>
          <b>Требования:</b>
          <ul>
            <li>Знание отельной базы и массовых направлений компании</li>
            <li>Высокие коммуникативные навыки, грамотная и четкая речь</li>
            <li>Умение работать в Outlook</li>
            <li>ОПЫТ РАБОТЫ в туристической сфере от 2-х лет ОБЯЗАТЕЛЬНО</li>
          </ul>
        </p>
        <p>
          <b>Условия:</b>
          <ul>
            <li>Работа в крупной, брендовой компании</li>
            <li>Отличные перспективы профессионального развития</li>
            <li>Заработная плата 63 250 р. до вычета налогов + бонусы от продаж (до 200000 р.)</li>
            <li>Работа м. Аэропорт</li>
            <li>График работы 2/2 с 09:00 до 21:00</li>
            <li>Оформление в соответствии с ТК РФ, соцпакет</li>
            <li>Специальные скидки на туры для сотрудников и членов их семей</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  <div style="text-align: center;">
    Просим высылать Ваше резюме с указанием названия вакансии в теме письма по адресу: 
    hr3@pegast.ru. Телефон: +7 (495) 478-01-60, доб. 1243
  </div>  
{% endblock %}