{% extends "base.html" %}
{% block title %}
  Помощь
{% endblock %}
{% block content %}
  <div class="col d-flex" style="justify-content: space-evenly; gap:12px; flex-wrap: wrap; padding-top:12px; padding-bottom:12px;">
    <div class="card" style="width: 36rem;">
      <div class="card-header">
        Как купить?
      </div>
      <div class="card-body">
        <b>В режиме онлайн на сайте PEGAS Touristik </b>
        <p>
            Компания "PEGAS Touristik" предлагает приобрести тур в режиме 7 дней в неделю, 24 часа в сутки. 
            Оплатить тур Вы можете одним из 8 способов оплат подробнееu
        </p>
        <p>
            По вопросам оплаты бронирований на сайте просим круглосуточно обращаться к нашим менеджерам по телефону и онлайн.
        </p>
        <b>В одном из фирменных офисах продаж </b>
        <p>
            Компания "PEGAS Touristik" предлагает приобрести тур в более чем 510 фирменных офисах продаж в 163 городах России.
        </p>
      </div>
    </div>
    <div class="card" style="width: 36rem;">
      <div class="card-header">
        Как оплатить тур?
      </div>
      <div class="card-body">
        <b>Если вы забронировании тур на сайте PEGAS Touristik</b>
        <ul>
            <li>Оплата банковскими картами платежных систем МИР, VISA, Master Card</li>
            <li>Оплата с помощью сервиса Сбер Пэй</li>
            <li>Оплата с помощью сервиса Яндекс Пэй</li>
        </ul>
        <b>Если вы забронировали тур в офисе продаж</b>
        <ul>
            <li>Оплата банковскими картами платежных систем МИР, VISA, Master Card</li>
            <li>Оплата с помощью сервиса Сбер Пэй</li>
            <li>Оплата с помощью сервиса Яндекс Пэй</li>
        </ul>
      </div>
    </div>
  </div>
    <p style="text-align: center;">
      Телефон: +7 (495) 419-92-91
      E-mail: retail@pegast.ru
  </p>
{% endblock %}